.container {
  min-height: 100vh;
  background: url("/pattern2.jpg") center/cover;
  position: relative;
}

.users_wrapper,
.companies_wrapper,
.posts_wrapper,
.search_wrapper {
  position: relative;
  padding: 70px 30px;
  display: grid;

  place-items: center;
}

.search_wrapper > div {
  width: 80% !important;
}
.buttons {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
}

.paginationbtn {
  padding: 20px;
}
@media screen and (min-width: 1200px) {
  .users_wrapper {
    grid-template-columns: repeat(2, 50%);
  }
  .companies_wrapper {
    grid-template-columns: repeat(4, 25%);
  }
}

@media screen and (min-width: 1300px) {
  .users_wrapper {
    grid-template-columns: repeat(3, 33%);
  }
}

@media screen and (min-width: 1800px) {
  .users_wrapper,
  .companies_wrapper {
    grid-template-columns: repeat(4, 25%);
  }
}
