.container {
  padding: 0 20px;
  min-height: 100vh;
  background: url("/pattern2.jpg") center/cover no-repeat;
}

.users_wrapper,
.companies_wrapper,
.posts_wrapper,
.search_wrapper {
  padding: 20px 0;
  display: grid;
  box-sizing: border-box;
  place-items: center;
}

.search_wrapper > div {
  width: 80% !important;
}
.buttons {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  text-align: center;
}

.paginationbtn {
  padding: 20px;
}

@media screen and (min-width: 800px) {
  .users_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}
@media screen and (min-width: 1300px) {
  .companies_wrapper {
    grid-template-columns: repeat(4, 25%);
  }
  .users_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 30%);
  }
}

@media screen and (min-width: 1300px) {
  .users_wrapper {
    grid-template-columns: repeat(3, 33%);
  }
}

@media screen and (min-width: 1800px) {
  .users_wrapper,
  .companies_wrapper {
    grid-template-columns: repeat(4, 25%);
  }
}
